<h1>New Dental Office</h1>

<%= render partial: 'error_flash' %>

<%= render partial: 'dental_office_form', locals: {
  path: '/dental_offices', method: :post, button_text: 'Add Dental Office to List',
  model: @dental_office
} %>